h1,
.u-font-h1 {
  font-size: 9.6rem;
  line-height: 10.6rem;
  font-weight: 500;

  @include screen ('med') {
    font-size: 7rem;
    line-height: 7.7rem;
  }


  @include screen ('small') {
    font-size: 4.2rem;
    line-height: 4.6rem;
  }
}

h2,
.u-font-h2 {
  font-size: 6.4rem;
  line-height: 7.7rem;
  font-weight: 500;

  @include screen ('med') {
    font-size: 5.2rem;
    line-height: 6.3rem;
   }

  @include screen ('small') {
    font-size: 3.6rem;
    line-height: 4.3rem;
   }
}

h3,
.u-font-h3 {
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 500;

  @include screen ('med') {
    font-size: 2.8rem;
    line-height: 3rem;
   }

  @include screen ('small') {
   font-size: 2rem;
   line-height: 2.2rem;
  }
}