h1,
.u-font-h1 {
  font-size: 9.6rem;
  line-height: 10.6rem;
  font-weight: 500;

  @include screen ('med') {
    font-size: 7.6rem;
    line-height: 8.4rem;
  }


  @include screen ('small') {
    font-size: 5.4rem;
    line-height: 6rem;
  }
}

h2,
.u-font-h2 {
  font-size: 6.4rem;
  line-height: 7.7rem;
  font-weight: 500;
}

h3,
.u-font-h3 {
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: 500;

  @include screen ('med') {
    font-size: 2.8rem;
    line-height: 3rem;
   }

  @include screen ('small') {
   font-size: 2.5rem;
   line-height: 2.7rem;
  }
}